html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: $main-color-text;
  font-size: 13px;
  font-family: $second-font-family;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p{
	margin: 0;
}
input{
  margin: 0;
}
h1, h2, h3, h4, h5{
  margin: 0;
}
.active{
  color: #E3872D !important;
  position: relative;
  transition: all .5s;
  padding-left: 20px;
  border-bottom: 1px solid currentColor; 
}
.mb{
  margin-bottom: 2em;
}
::-webkit-input-placeholder {color:#000;font-family: $second-font-family; font-weight: 500; }
::-moz-placeholder          {color:#000;font-family: $second-font-family; font-weight: 500; }
:-moz-placeholder           {color:#000;font-family: $second-font-family; font-weight: 500; }
:-ms-input-placeholder      {color:#000;font-family: $second-font-family; font-weight: 500; }

@media screen and (min-width: 1901px){
  .wrapper-main-content{
    padding-left: 250px;
  } 
}

.wrapper-ser-title{
  & > * {
    font-weight: 500;
    color: $black-color;
    font-size: 50px;
  }
  & span{
    color: $second-main-color;
  }
}
.ser-subtitle{
  font-weight: 500;
  font-size: 16px;
  color: $subtitle-color;

}
.wrapper-404{
  position: relative;
  z-index: 5;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  & > *{
    text-transform: capitalize;
    font-size: 80px;
    font-weight: 500;
    font-family: $first-font-family;
    letter-spacing: -5px;
  }
}


