.main-section{
	min-height: 100vh;
	max-width: 100%;
	position: relative;
	background-color: lightblue;
	position: relative;
	background-image: url($img-path + 'main-bg.jpg');
	@include bg-settings;
	&::after{
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background-image: linear-gradient(to bottom, rgba(#041230, .8) 20%, rgba(#fff, 0) 100%);
	}
	.main-content{
		color: $text-color;
		padding: 5em 0;
		position: relative;
		z-index: 1;
		min-height: 50vh;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		@include max-1023 {
			min-height: 350px;
			align-items: center;
		}
		&__title{
			margin-bottom: 1em;
			position: relative;
			&::before{
				content: '';
				position: absolute;
				width: 20%;
				height: 2px;
				top: 0;
				left: 50%;
				background-color: $second-main-color;
			}
			&::after{
				content: '';
				position: absolute;
				width: 20%;
				height: 2px;
				top: -8%;
				left: 55%;
				background-color: $second-main-color;
			}
			& > * {
				font-family: $first-font-family;
				font-size: 30px;
				font-weight: 400;
				line-height: 1.2;
				@media screen and (max-width: 580px){
					font-size: 30px;
					font-weight: 500;
				}
			}
			&--name{
			    color: $white-color;
				display: block;
				font-size: 60px;
				text-transform: uppercase;
			}
			&--decor{
				color: $second-main-color;
			}
		}
		&__subtitle{
			font-size: 18px;
			font-weight: 400;
			line-height: 1.5;
			font-family: $second-font-family;
			font-weight: 500;
			@media screen and (max-width: 500px){
				font-size: 18px;
				text-align: justify;
			}
		}
		&__button{
			@include m-button(#E3862D, #2C2C36);	
		}
	}
	.contact-form{
		position: relative;
		z-index: 2;
		padding: 25px 35px;
		background-color: #fff;
		border-radius: 2px;
		box-shadow: 0 5px 50px $black-color;
		margin-bottom: 50px;
		@media screen and (min-height: 800px){
			margin-bottom: 0;
		}
		&__title {
			color: $color-text;
			font-weight: 600;
			font-size: 20px;
			line-height: 1.5;
			text-transform: capitalize;
			margin-bottom: 1.6em;
			& span{
				color: $second-main-color;
			}
		}
		input, textarea{
			border: 0;
			border-bottom: 1px solid rgba($first-main-color, .5);
			list-style: none;
			box-shadow: none;
			outline: none;
			&:focus{
				border-bottom: 2px solid $second-main-color;
			}
		}
		textarea{
			resize: none;
			min-height: 90px;
			margin-bottom: 24px;
		}
		&__btn{
			@include m-button($second-main-color, $first-main-color);
		}		
	}
}
@media screen and (min-width: 1901px){
	.main-header{
		width: 250px;
		position: fixed;
		left: 0;
		top: 0;
		bottom: 0;
		z-index: 1000;
		background-color: #041230;
		font-family: $first-font-family;
		color: $white-color;
		&__wrp-logo{
			padding: 2em;
			display: flex;
			justify-content: center;
			align-items: center;
			border-bottom: 1px solid rgba(#fff, .2);			
		}
		&__lnk-logo{
			display: block;
			.logo-img{
				max-width: 150px;
			}
		}
		.row{
			display: block;
		}
		.columns{
			display: block;
			max-width: 100%;
			margin: 0;
		}
		.overlay{
			padding: 3em;
			text-align: left;
		}
		.main-menu{
			&__items{
				&:not(:last-child){
					margin-bottom: 1.1em;
				}
			}
			&__link{
				font-weight: 600;
				font-size: 16px;
				text-transform: uppercase;
				color: $white-color;
			}
		}	
	}
}
@media screen and (max-width: 1900px){
	.main-header{
		background-color: transparent;
		position: relative;
		z-index: 10;
		.p-relat{
			position: relative;
		}
		&.fixed-menu-nav{
			z-index: 9999;
			position: fixed; 
			left: 0; 
			top: 0; 
			width: 100%;
			background-color: #2b2c36;
		}
		&__wrp-logo{
			height: 100%;
			display: flex;
			align-items: center;
			.logo-color {
				fill: $white-color;
			}
			.fixed-logo-color{
				fill: #303030;
			}
		}
		&__lnk-logo{
			display: flex;
			align-items: center;
			.logo-img {
				padding: 1em 0;
				max-width: 135px;
			}
			.logo-text{
				display: block;
				font-family: $first-font-family;
				font-weight: 300;
				color: $black-color;
				text-align: center;
				font-size: 2em;
				line-height: 1;
				& span{
					font-weight: 700;
					display: block;
				}
			}
		}
		.main-menu{
			min-height: 80px;
			display: flex;
			align-items: center;
			height: 100%;
			&__items{

			}
			&__list{
				height: 100%;
				width: 100%;
				display: flex;
				align-items: center;
				flex-direction: column;
				@media screen and (max-width: 639px){
					display: block;
				}
			}
			&__link{
				text-transform: capitalize;
				font-size: 20px;
				color: $white-color;
				font-family: $first-font-family;
				position: relative;
				padding: .2em .5em;
			}
		}
	}
}
