$img-path: '../images/';


$first-font-family: 'Source Code Pro', sans-serif;
$second-font-family: 'Raleway', sans-serif;

$color-text: #000000;
$first-main-color: #041230;
$second-main-color: #E3862D;
$subtitle-color: #414141;


$white-color: #ffffff;
$black-color: #000000;









$main-color-text: #fff;

$bg-color-srv: #F4F7FA;
$second-color: #9B2D30;
$style-wrapp-color: #313541;
$white-color: #fff;
$red-color: #D90001;
$light-green: rgb(22, 67, 150);
$main-bg-color: #F1F8FF;



$decor-line-color: #E3E3E3;


$transition-duration: 0.5s;
$text-color: #ffffff;
$menu-color: #ffffff;
$text-color-second: #1b1b4f;
$text-color-subtitle: #5d5d5d;
$header-bg-color: #ffffff;

///Button style
$button-bg-color: #D90001;
$button-bg-color-h: rgb(22, 67, 150);
